.cm-editor .cmb-code {
  font-family: var(--mm-f-code);
  padding-left: var(--mm-s-code-padding);
  padding-right: var(--mm-s-code-padding);
  color: var(--mm-c-code-text);
  background-color: var(--mm-c-code-background);
}
.cm-editor .cmb-code-open {
  border-radius: var(--mm-s-code-radius) var(--mm-s-code-radius) 0 0;
  padding-top: var(--mm-s-code-padding);
}
.cm-editor .cmb-code-close {
  border-radius: 0 0 var(--mm-s-code-radius) var(--mm-s-code-radius);
  padding-top: calc(var(--mm-s-code-padding) / 2);
  padding-bottom: calc(var(--mm-s-code-padding) / 2);
}

.cm-editor .cmb-quote {
  color: var(--mm-c-block-text);
  background-color: var(--mm-c-block-background);
  padding-left: var(--mm-s-block-padding);
  padding-right: var(--mm-s-block-padding);
}

.cm-editor .cmb-quote-open {
  position: relative;
  padding-top: var(--mm-s-block-padding);
}

.cm-editor .cmb-quote-open:after {
  position: absolute;
  content: "\201d";
  font-size: 2em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1em;
  top: 2px;
  right: 2px;
  color: var(--mm-c-quote-mark);
}

.cm-editor .cmb-quote-close {
  padding-bottom: var(--mm-s-block-padding);
}

.cm-editor .cmb-table {
  font-family: var(--mm-f-code);
  color: var(--mm-c-block-text);
  background-color: var(--mm-c-block-background);
  padding-left: calc(var(--mm-s-block-padding) * 2);
  padding-right: calc(var(--mm-s-block-padding) * 2);
}
.cm-editor .cmb-table-open {
  padding-top: var(--mm-s-block-padding);
}
.cm-editor .cmb-table-close {
  padding-bottom: var(--mm-s-block-padding);
}
