.cm-editor .cmb-code {
  color: var(--mm-c-code-text);
  background-color: var(--mm-c-code-bg);
  font-family: var(--mm-f-code);
  padding-left: var(--mm-s-code-padding);
  padding-right: var(--mm-s-code-padding);
}
.cm-editor .cmb-code-open {
  border-radius: var(--mm-s-code-radius) var(--mm-s-code-radius) 0 0;
  padding-top: var(--mm-s-code-padding);
}
.cm-editor .cmb-code-close {
  border-radius: 0 0 var(--mm-s-code-radius) var(--mm-s-code-radius);
  padding-bottom: var(--mm-s-code-padding);
}

.cm-editor .cmb-quote {
  color: var(--mm-c-quote-text);
  background-color: var(--mm-c-quote-bg);
  padding-left: var(--mm-s-quote-padding);
  padding-right: var(--mm-s-quote-padding);
}
.cm-editor .cmb-quote-open {
  border-radius: var(--mm-s-quote-radius) var(--mm-s-quote-radius) 0 0;
  padding-top: var(--mm-s-quote-padding);
}
.cm-editor .cmb-quote-close {
  border-radius: 0 0 var(--mm-s-quote-radius) var(--mm-s-quote-radius);
  padding-bottom: var(--mm-s-quote-padding);
}
