.markmirror {
  --syntax-meta: #d4d4d4;
  --syntax-comment: #6e7781;
  --syntax-constant: #0550ae;
  --syntax-entity: #268bd2;
  --syntax-property: #8250df;
  --syntax-definition: #24292f;
  --syntax-tag: #085;
  --syntax-builtin: #b58900;
  --syntax-keyword: #cf222e;
  --syntax-string: #0a3069;
  --syntax-regexp: #e40;
  --syntax-variable: #a4480f;
}

.darkcode .cmb-code {
  --syntax-meta: #6e7781;
  --syntax-comment: #8b949e;
  --syntax-constant: #79c0ff;
  --syntax-entity: #47b0fa;
  --syntax-property: #d2a8ff;
  --syntax-definition: #c9d1d9;
  --syntax-tag: #7ee787;
  --syntax-builtin: #ffd34c;
  --syntax-keyword: #ff7b72;
  --syntax-string: #a5d6ff;
  --syntax-regexp: #ef954e;
  --syntax-variable: #ffa657;
}

.cmt-hardbreak::after {
  font-family: var(--mm-f-code);
  pointer-events: none;
  content: '¬';
  opacity: 0.2;
}

.cmt-strong {
  font-weight: bold;
}
.cmt-emphasis {
  font-style: italic;
}
.cmt-link {
  color: var(--mm-c-link);
}
.cmt-labelName {
  font-family: var(--mm-f-code);
}

.cmt-code {
  font-weight: bold;
  font-family: var(--mm-f-code);
  background-color: var(--mm-c-mark);
  padding-left: 2px;
  padding-right: 2px;
  border-radius: 4px;
}
.cmt-codeinfo {
  color: var(--syntax-meta);
}

.cmt-atom {
  color: var(--syntax-builtin);
  font-family: var(--mm-f-code);
}

.cmt-meta {
  color: var(--syntax-meta);
  font-family: var(--mm-f-code);
}

.cmb-heading,
.cmb-m-heading {
  font-weight: bold;
}

.cmb-heading .cmt-h1 {
  font-size: 1.6em;
}

.cmb-heading .cmt-h2 {
  font-size: 1.4em;
}

.cmb-heading .cmt-h3 {
  font-size: 1.2em;
}

.cmb-heading .cmt-h4 {
  font-size: 1.1em;
}

/** code highlight */
.cmt-comment {
  color: var(--syntax-comment);
}
.cmt-keyword {
  color: var(--syntax-keyword);
}
.cmt-typeName {
  color: var(--syntax-tag);
}
.cmt-className {
  color: var(--syntax-entity);
}
.cmt-propertyName {
  color: var(--syntax-property);
}
.cmt-definition {
  color: var(--syntax-definition);
}
.cmt-string {
  color: var(--syntax-string);
}
.cmt-bool,
.cmt-number {
  color: var(--syntax-constant);
}
.cmt-regexp {
  color: var(--syntax-regexp);
}
