.markmirror {
  --syntax-comment: #6e7781;
  --syntax-constant: #0550ae;
  --syntax-entity: #268bd2;
  --syntax-property: #8250df;
  --syntax-definition: #24292f;
  --syntax-tag: #116329;
  --syntax-builtin: #b58900;
  --syntax-keyword: #cf222e;
  --syntax-string: #0a3069;
  --syntax-regexp: #116329;
  --syntax-variable: #a4480f;
}

.cmt-atom {
  color: var(--syntax-builtin);
}

.cmt-meta {
  opacity: 0.4;
  font-family: var(--mm-f-code);
}
.cmt-strong {
  font-weight: bold;
}
.cmt-emphasis {
  font-style: italic;
}
.cmt-link {
  color: var(--mm-c-link);
}
.cmt-labelName {
  font-family: var(--mm-f-code);
}

.cmt-code {
  color: var(--mm-c-code-text);
  background-color: var(--mm-c-code-bg);
  font-family: var(--mm-f-code);
}
.cmt-codeinfo {
  opacity: 0.6;
}

.cmb-heading,
.cmb-m-heading {
  font-weight: bold;
}

.cmb-heading .cmt-h1 {
  font-size: 1.6em;
}

.cmb-heading .cmt-h2 {
  font-size: 1.4em;
}

.cmb-heading .cmt-h3 {
  font-size: 1.2em;
}

.cmb-heading .cmt-h4 {
  font-size: 1.1em;
}

/** code highlight */
.cmt-comment {
  color: var(--syntax-comment);
}
.cmt-keyword {
  color: var(--syntax-keyword);
}
.cmt-variableName {
  color: var(--syntax-variable);
}
.cmt-typeName {
  color: var(--syntax-tag);
}
.cmt-className {
  color: var(--syntax-entity);
}
.cmt-propertyName {
  color: var(--syntax-property);
}
.cmt-definition {
  color: var(--syntax-definition);
}

.cmt-string {
  color: var(--syntax-string);
}
.cmt-bool,
.cmt-number {
  color: var(--syntax-constant);
}
.cmt-regexp {
  color: var(--syntax-regexp);
}
