@font-face {
  font-family: mmspace;
  src: local(Menlo), local(Monaco), local(Consolas), local("Courier New");
  unicode-range: U+0020;
}

.markmirror {
  --mm-f-sys: -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, "Droid Sans", "Helvetica Neue";
  --mm-f-cjk: "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";
  --mm-f-mono: Menlo, Monaco, Consolas, "Courier New", monospace;
  --mm-f-code: var(--mm-f-mono), monospace;
  --mm-f-content: var(--mm-f-mono), var(--mm-f-cjk), monospace;
  --mm-f-content: mmspace, var(--mm-f-sys), var(--mm-f-cjk), sans-serif;

  --mm-c-caret: black;
  --mm-c-link: #26a6ed;

  --mm-s-code-padding: 0.5rem;
  --mm-s-code-radius: 4px;
  --mm-c-code-text: #24292f;
  --mm-c-code-background: #f9f9f9;

  --mm-s-quote-padding: 0.5rem;
  --mm-c-quote-text: #24292f;
  --mm-c-quote-background: #f0f0f0;
}

.darkcode {
  --mm-c-code-text: #c9d1d9;
  --mm-c-code-background: #292d3e;
}

.darkcode .cmb-code {
  caret-color: white;
}
